/* g3n.css @dw1Rianto styles on BOS Template
-------------------------------------------------------------- */
@import url('reset.css');
@import url('typography.css');


/* Main Structure
-------------------------------------------------------------- */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	text-align: left;
	background: #f9f9f9;
	color: #777;
}


a:link, a:visited, a:focus {
	color:#142524;
	text-decoration: none;
	-moz-transition: color 200ms ease-in-out;
	-webkit-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
}
a:hover  { text-decoration: none; }

div#header {
	display: block;
	position: relative;
	z-index: 10;
	background-color: #fff;
	padding: 0;
	margin: 0;
	color: #777;
	clear: both;
		/*border-bottom: 3px double #d00;*/
	min-height: 90px;
	-moz-box-shadow: 0 2px 3px #ddd;
	-webkit-box-shadow: 0 2px 3px #ddd;
	-o-box-shadow: 0 2px 3px #ddd;
}
div#footer {
	text-align: center;
	margin: 0 0 1em;
}

strong {
	font-weight: bold;
}

/* Header
-------------------------------------------------------------- */
.logo {
	display: block;
	position: relative;
	left: 0;
	top: .5em;
	max-width: 50%;
	text-shadow: 0 1px 0 #fff;
}
.logo a {
	font-size: 66pt;
	line-height: 100%;
	color: rgb(60,127,255);
	letter-spacing: 5px;
	text-decoration: none;
	font-family: 'BebasNeueRegular';
	background: url('../image/logo.png') no-repeat 0 0;
	display: block;
	width: 120px;
	height: 63px;
	padding: 0;
	text-indent: 65px;
	position: relative;
	left: 42px;
	-moz-transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
}
.logo a:hover {
	-moz-transform: rotate(-10deg) translateX(-5px);
	-webkit-transform: rotate(-10deg) translateX(-5px);
	-o-transform: rotate(-10deg) translateX(-5px);
}
.logo p { display: none; }
p.site-description {
	text-transform: UPPERCASE;
	font-weight: bold;
	position: absolute;
	bottom: -11px;
	left: 10px;
	color: #d00;
	padding-left: 5px;
	font-size: 10px;
	display: block;
}
/* ----------- */

.face {
	font-size: 10px;
}

.pendek { min-height:15em; max-height:14em;}
.panjang { max-height:25em; min-height:24em;}

.frameb tr td {padding:.1em;}
.table-data, .table-main, .frameb {border-collapse:collapse;}
.table-main tr td {width:10%; vertical-align:top;}
.table-data input, .table-main input {margin:.5em 0 .5em 0; border:1px solid #ccc;}
.table-data tr td, .table-data tr th,.table-data tr,.table-data {
	border:1px solid #000; padding:.5em; vertical-align:top;
	font-size:10px; line-height:2em;
}

.table_tabel tr td { vertical-align:top;}

.table_tabel {
	border-collapse:collapse;
	font-size:10px;
}
input, textarea {
	margin:.5em 0 .5em 0; 
	padding:.2em;
	border:1px solid #ccc;
	font-size:10px;
}

.btn {background:#fff; color:#93a1ac; font-size:.9em; padding:.2em .5em .3em .5em; -moz-border-radius: 12px; border-radius: 12px; font-weight:bold;}
.btn-menu {background:#fff; color:#93a1ac; font-size:.9em; padding:.2em .5em .3em .5em;-moz-border-radius: 12px; border-radius: 12px;font-weight:bold;  min-width:17em; margin-bottom:.3em;}
.btn-menu:hover {color:#EBEAFF; background:#93a1ac;}
.btn:hover {color:#EBEAFF; background:#93a1ac;}
.w30 {width:30%;}
.bdr {border:1px solid #ccc;}

.e0 {background:#93a1ac;}
.e1 {background:#ebeaff;}
.e0:hover, .e1:hover, .ee {background:#93a1ac; color:#fff}

.ctr {text-align:center;}
.bold {font-weight:bold;}

.red { color:#b22222; font-size:1em;}

.form-input {-moz-border-radius: 5px; border:1px solid grey; max-width:60%; padding:1em;}

a {color:#142524; font-weight:bold;}
a:hover { font-weight:bold;}

a.g3na { font-weight:bold; line-height:1em;}
a.g3na:hover { background:#dd5317; color:#fff; margin-left:.5em;}

#g3nul {
	background:#eee;
	border:1px solid #ddd;
	-moz-border-radius: 11px 11px 11px 11px;
	-moz-box-sizing: content-box;
	width:20em;
	float:left;
}

#g3nul {
	line-height:2em;
	padding:1em;
}

#laporan-view {
	margin-left:23em;
	min-height:37.5em;
	width:65%;
	padding:1em 0 1em 2em;
	background:#eee;
	border:1px solid #ddd;
	-moz-border-radius: 11px 11px 11px 11px;
	-moz-box-sizing: content-box;
}

/* halaman pengaduan, panel input */
.div-input {
 width:220px;
 float:left;
 
}
.div-div-input {
 clear:both;
 padding:1em;
 
}

#InputForm {
	font-size:11px;
}
/* ------------------------------------------------------------------------ */
/* Content
-------------------------------------------------------------- */
div.welcome-user {
	float: right;
	margin: 1em;
}
.user {
	text-align: right;
	font-family: Georgia, Times New Roman, Times Roman, serif;
	font-style: italic;
	color:#333;
}
.user span {
	font-weight: bold;
	font-style: normal;
	text-transform: capitalize;
	font-size: 126%;
}
ul.usermenu {
	list-style: none;
	display: block;
	padding: .5em 0;
}
ul.usermenu li {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8em;
	font-weight: normal;
	font-style: normal;
	
	background-image: linear-gradient(bottom, rgb(241,241,241) 16%, rgb(248,248,248) 80%);
	background-image: -o-linear-gradient(bottom, rgb(241,241,241) 16%, rgb(248,248,248) 80%);
	background-image: -moz-linear-gradient(bottom, rgb(241,241,241) 16%, rgb(248,248,248) 80%);
	background-image: -webkit-linear-gradient(bottom, rgb(241,241,241) 16%, rgb(248,248,248) 80%);
	background-image: -ms-linear-gradient(bottom, rgb(241,241,241) 16%, rgb(248,248,248) 80%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.16, rgb(241,241,241)),
		color-stop(0.8, rgb(248,248,248))
	);

}
ul.usermenu li a {
	display: block;
	padding: 7px 10px;
	color: #888;
	border: 1px solid #f0f0f0;
}
ul.usermenu li a:hover {
	border-color: #fff;
	background-color: rgba(63,127,255,0.5);
	color: #fff;
}
ul.usermenu li a:focus {
	background: #333;
	color: #fff;
}
span.sep {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 100%;
}

#menu {
	display: block;
	position: relative;
	z-index: 1;
	width: auto;
	margin: 0 1em 3em;
	clear: both;
}

/* Module container */
#module {
	font-size: .8em;
	display: block;
	width: auto;
	margin: 0 1em .7em;
	clear: both;
	border: 1px solid #ccc;
	padding: 2em;
	background: #fff;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#usrmgmt {
	display: block;
	clear: both;
	margin: 0;
	padding: 0;
	color: #000;
}

/* pengaturan css table data */
.tbl td{
	background: none repeat scroll 0 0 #E8EDFF;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    color: #666699;
    padding: 2px 8px;
}
.tbl th {
	background: none repeat scroll 0 0 #93a1ac;
	color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 8px;
}

/* update  */
.overflow {
	overflow:auto;
	width:100%;
	/*height:300px;*/
}


.hidden {
	display:none;
}

.alert{
	color:#900;
}

/* Login
-------------------------------------------------------------- */
#loginform {
	position: relative;
	display: block;
	clear: both;
	width: 44%;
	max-width: 600px;
	min-height: 300px;
	margin: 7.6% auto;
	background: #efefef;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 5px 5px #666;
	-webkit-box-shadow: 0 5px 5px #666;
	-o-box-shadow: 0 5px 5px #666;
}
#loginform .l {
	padding: 1em 7.6%;
	color: #333;
}
#loginform .l h1 {
	padding: .6em 0 1.5em;
}
span.branding {
	float: right;
}
#loginform .l label {
	display: block;
	width: 120px;
	font-size: .8em;
	font-weight: bold;
	padding: 0;
	margin: 3px 0 -7px;
}
#loginform .l input {
	width: 98%;
	font-size: 24px;
	color: #777;
	border: 1px solid #ccc;
	padding: 5px;
	-moz-transition: border-color 200ms ease-in-out;
	-webkit-transition: border-color 200ms ease-in-out;
	-o-transition: border-color 200ms ease-in-out;
}
#loginform .l input:focus {
	border-color: #d00;
	-moz-box-shadow: 0 1px 3px #bbb inset;
	-webkit-box-shadow: 0 1px 3px #bbb inset;
	-o-box-shadow: 0 1px 3px #bbb inset;
}
#loginform .l input:hover {
	border-color: #d00;
}
#loginform .button input {
	width: auto;
	background: #d00;
	color: #fff;
	border-color: #d00;
	font-size: 1em;
	padding: 9px 15px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}
#loginform .button input:hover {
	cursor: pointer;
	border-color: #d00;
}
#loginform .button input:focus {
	background-color: #333;
	border-color: #333;
}

/* System Messages
-------------------------------------------------------------- */
.message {
	position: relative;
	display: block;
	clear: both;
	width: auto;
	font-weight: bold;
	font-size: 1em;
	margin: .7em auto;
	padding: 0;
	line-height: 1em;
	font-family: Georgia, Times New Roman, Times Roman, serif;
	font-style: italic;
}
.error { text-align: center; color: rgba(221,0,0,1); padding: .7em; line-height: 1em; }

/* Footer
-------------------------------------------------------------- */
#footer p.copyright {
	font-size: .7em;
}
#footer p.copyright a:hover {
	color: #666;
	text-decoration: underline;
}

/* --------------------------------------------------------------*/
legend {
	border: 1px #ccc solid;
	padding: .3em;
	color: #fff;
	background: #000;
	font-weight: bold;
}
fieldset {
	margin: 0 1em 1em 0;
}

#header #textnya span{
	font-size:10em;
	color:#c00;
}
#header{
	background:url(../image/header-bg.png) repeat-x;
}
